
.icon-home:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-fax:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */