html {
    height: 100%;
    font-family: Arial;
}
body {
	margin: 0;
	background-color: #E8E3D9;
    height: 100%;
}
.container {
    height: 100%;
    text-align: center;
}
.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.block {
    width: 700px;
    background-color: #716558;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: white;
    padding: 20px;
}